* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --primary-color: #ff5b2e;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background-color: #fffaf5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
    color: #000958;
}

/* common  */
/* font size và font family có font mặc định nên cần kế thừa từ body */
input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
}

.section-heading {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.2;
    color: #000958;
}

.section-desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9;
    color: #656689;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-right: auto;
    margin-left: auto;
}

.btn {
    --height: 56px;

    display: inline-block;
    border: 1px solid #000958;
    border-radius: 999px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: var(--height);
    height: var(--height);
    text-align: center;
    color: #000958;
    min-width: 130px;
    padding: 0 16px;
    cursor: pointer;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.btn__primary {
    color: #fff;
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.btn__icon {
    display: inline-block;
    background: #fffaf5;
    width: 20px;
    height: 20px;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
    border-radius: 50%;
}

/* header */
.header {
    padding: 26px 0;
}

/* header top */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.navbar__item,
.header-action__signin {
    padding: 8px 16px;
}

.navbar__item:hover > .navbar__link,
.navbar__item.navbar__item--active > .navbar__link {
    text-shadow: 1px 0 0 transparent;
    color: #000958;
}

.navbar__link {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.4;
    color: #5e6085;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__signup {
    --height: 50px;

    min-width: 118px;
    border: 1px solid rgb(0, 9, 88, 0.7);
}

/* hero */
.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 120px;
}

.hero__media {
    padding-bottom: 94px;
    display: flex;
    position: relative;
}

.hero__img--wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 388px;
    height: 488px;
    border: 3px solid #fff;
    background: #fe997b;
    border-radius: 16px;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__deco {
    position: absolute;
    z-index: -1;
}

.hero__deco:nth-of-type(2) {
    top: 17px;
    right: -40px;
}

.hero__deco:nth-of-type(3) {
    left: -58px;
    bottom: 10px;
}

.hero__img--wrap:nth-of-type(2) {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    background: #faa7ad;
    border: 2px solid rgba(255, 255, 255, 0.65);
    margin-bottom: -58px;
    margin-left: -24px;
    box-shadow: 8px 18px 36px -6px rgba(234, 148, 157, 0.17);
}

.hero-list {
    position: absolute;
    width: 250px;
    height: 156px;
    bottom: 0px;
    left: 129px;
    background: #ffffff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    border-radius: 10px;
}

.hero-list__inner {
    margin: 18px 14px;
}

.hero-list-item {
    display: flex;
    align-items: center;
}

.hero-list-item__media {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 40px;
    height: 40px;
    background: #fec23f;
    border-radius: 10px;
    margin-right: 10px;
}

.hero-list-item__thumb {
    max-height: 100%;
    max-width: 100%;
}

.hero-list-item:nth-of-type(2) {
    margin-top: 40px;
}

.hero-list-item:nth-of-type(2)::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 222px;
    top: 76px;
    background-color: #f2f2f2;
    border-radius: 2px;
}

.hero-list-item:nth-of-type(2) > .hero-list-item__media {
    background: #c6e2fa;
}

.hero-list-item__title {
    font-family: "Sora";
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #181e52;
}

.hero-list-item__skeleton,
.hero-list-item__skeleton--small {
    width: 118px;
    height: 4px;
    background: #000958;
    opacity: 0.08;
    border-radius: 10px;
    margin: 7px 0 6px;
}

.hero-list-item__skeleton--small {
    width: 39px;
}

.herro__content {
    max-width: 517px;
}

.hero__header {
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.15;
}

.hero__desc {
    margin-top: 24px;
    max-width: 391px;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__cta--btn {
    margin-right: 24px;
    column-gap: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__cta--link {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    text-align: center;
    text-decoration-line: underline;
    color: #000958;
}

/* about */
.about {
    margin-top: 130px;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-row-gap: 146px;
}

.about__lable {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    color: #5e6085;
}

.about__header {
    margin-top: 15px;
    max-width: 448px;
}

.about__desc {
    margin-top: 24px;
    max-width: 431px;
}

.about__checklist {
    margin-top: 54px;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 36px;
    grid-row-gap: 34px;
    justify-content: flex-start;
}

.about__check--item {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1;
    color: #48496a;
}

.about__check--item::before {
    margin-right: 10px;
    display: inline-block;
    content: "";
    width: 24px;
    height: 24px;
    background: #ff5d31;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    border-radius: 4px;
}

.about__check--item::after {
    content: url("../icons/check-icon.svg");
    position: absolute;
    top: 2px;
    left: 5px;
}

.about__media {
    position: relative;
}

.about__card {
    position: absolute;
    width: 136px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
    border-radius: 10px;
    padding: 26px 31px;
    top: 165px;
}

.about__card--title {
    font-family: "Sora";
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1;
    text-align: center;
    color: #ffffff;
}

.about__card--desc {
    margin-top: 14px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.4;
    text-align: center;
    color: #c6f4f9;
}

.about__card--deco {
    position: absolute;
    top: -42px;
    right: -33px;
}

.about__img--wrap {
    position: relative;
    width: 494px;
    margin-left: auto;
}

.about__img--wrap::after {
    content: "";
    height: 336px;
    position: absolute;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    border-radius: 16px;
    /* bottom: 0;
    left: 0;
    right: 0; */
    inset: auto 0 0 0;
    z-index: -1;
}

.about__img {
    max-width: 100%;
    padding: 8px 22px 0;
    display: block;
}

.about__img--deco {
    position: absolute;
    top: 157px;
    right: -51px;
    z-index: -1;
}

.about__img--bottom {
    margin-left: 0;
    width: 458px;
    height: 500px;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    border: 2px solid #ffffff;
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    border-radius: 18px;
}

.about__img--bottom::after {
    content: none;
}

.about__img--bottom {
    padding: 0;
}

.about__bottom--deco {
    position: absolute;
}

.about__bottom--deco:nth-child(2) {
    top: 13px;
    right: 63px;
    z-index: 1;
}

.about__bottom--deco:nth-child(3) {
    top: -16px;
    right: 16px;
    z-index: 1;
}

.about__bottom--deco:nth-child(4) {
    top: 33px;
    right: -21px;
    z-index: 1;
}

.about__bottom--deco:nth-child(5) {
    top: 260px;
    right: -33px;
    z-index: 1;
}

.about__bottom--deco:nth-child(6) {
    bottom: 150px;
    right: 19px;
    z-index: 1;
}

.about__bottom--deco:nth-child(7) {
    bottom: -55px;
    right: -42px;
    z-index: 1;
}

.about__desc--bottom {
    margin-top: 24px;
    max-width: 511px;
}

.about__desc--bottom:nth-of-type(2) {
    margin-top: 36px;
    font-size: 1.4rem;
    max-width: 391px;
    line-height: 1.7;
}

.about__tab--list {
    position: relative;
    margin-top: 52px;
    display: flex;
    justify-content: space-between;
}

.about__tab--list::after {
    content: "";
    display: block;
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: 0px;
    opacity: 0.07;
    bottom: -4px;
    border: 2px solid #ff5b2e;
}

.about__tab--item {
    display: flex;
    align-items: center;
}

.about__tab--title {
    margin-left: 11px;
    font-family: "Sora";
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1;
    color: #48496a;
}

.about__tab--item:nth-child(1) > .about__tab--title {
    margin-left: 6px;
}

.about__viewmore {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    color: #ff5d31;
}

.about__viewmore::after {
    content: "";
    display: block;
    position: absolute;
    width: 86px;
    height: 0px;
    bottom: -5px;
    border: 1.5px solid #ff5d31;
}

.about__tab--item.active::after {
    position: absolute;
    content: "";
    display: block;
    width: 95px;
    height: 0px;
    bottom: -4px;
    border: 2px solid #ff5b2e;
}

.about__tab--item:hover {
    cursor: pointer;
}

/* services */

.services {
    margin-top: 185px;
    padding-bottom: 100px;
    background: #FFF6ED;
}


.services__question {
    padding-top: 68px;
    display: flex;
    justify-content: center;
    font-family: 'Sora';
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    text-align: center;
    color: #5E6085;
}

.services__heading {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.services__list {
    display: grid;
    grid-template-columns: 294px 1fr 294px;
    gap: 10px 0px;
    grid-auto-flow: row;
}

.services__column:nth-of-type(1),
.services__column:nth-of-type(3) {
    margin-top: 71px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.services__column:nth-of-type(2){
    margin-top: 88px;
    display: flex;
    flex-direction: column ;
    align-items: center;
}

.services__item {
    padding: 30px 22px 30px 28px;
    width: 294px;
    background: #FFFFFF;
    border: 2px solid rgba(255, 188, 122, 0.26);
    border-radius: 10px;
}

.services__item--title {
    padding-left: 12px;
    position: relative;
    display: block;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #000958;
}

.services__item--title::before {
    content: "";
    display:block;
    position: absolute;
    height: 22px;
    width: 2px;
    top: 0px;
    left: 0px;
    border-radius: 1.5px;
    background: linear-gradient(90deg, rgba(255,91,46,1) 0%, rgba(255,161,135,1) 100%);
}

.services__item--desc {
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7;
    color: #656689;
}

.services__item--link {
    display: flex;
    margin-top: 24px;
    font-family: 'Sora';
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1;
    color: #34396A;
}

.services__item--link img {
    margin-left: 10px;
}

.services__media {
    position: relative;
    display: flex;
    justify-content: center;
}

.services__media::after {
    content: "";
    position: absolute;
    width: 410px;
    max-width: 100%;
    height: 350px;
    bottom: 0;
    background: linear-gradient(180deg, #9DF1FB 0%, #73D0DB 108.14%);
    border-radius: 10px;
}

.services__img {
    position: relative;
    width: 440px;
    max-width: 100%;
    z-index: 1;
}

.services-action__cta {
    border-color: var(--primary-color);
    margin-top: 45px;
    color:  var(--primary-color);
    line-height: 56px;
    min-width: 214px;

}

/* staff */

.staff {
    margin-top: 130px;
}

.staff__desc {
    display: flex;
    justify-content: center;
    font-family: 'Sora';
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    color: #5E6085;
}

.staff__heading {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.staff__list {
    margin-top: 122px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 35px;
}

.staff-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.staff-item__img--wrap {
    position: relative;
    margin: 0 1.6rem;
    border-radius: 129.5px;
}

.staff-item__img--wrap::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height:93%;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, #90CCFF 0%, #59A8EB 95.96%);
    border-radius: inherit;
}

.staff-item__img--wrap::before {
    content: '';
    width: calc(100% + 18px * 2);
    height:100%;
    background-size: 100%;
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-position: bottom;
}

.staff-item:nth-of-type(1) > .staff-item__img--wrap::before {
    background-image: url('/assets/icons/staff-deco-01.svg');
}

.staff-item:nth-of-type(2) > .staff-item__img--wrap::before {
    background-image: url('/assets/icons/staff-deco-02.svg');
}

.staff-item:nth-of-type(3) > .staff-item__img--wrap::before {
    background-image: url('/assets/icons/staff-deco-03.svg');
}

.staff-item:nth-of-type(4) > .staff-item__img--wrap::before {
    background-image: url('/assets/icons/staff-deco-04.svg');
}

.staff-item:nth-of-type(2n) .staff-item__img--wrap::before {
    background-position: 0 1.6rem;
}

.staff-item__img {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    border-radius: inherit;
    z-index: 1;
}

.staff-item__job-title {
    margin-top: 29px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1;
    color: #656689;
}

.staff-item__name {
    margin-top: 14px;
    font-family: 'Sora';
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #000958;
}

.staff__action {
    display: flex;
    justify-content: center;
}

.staff__action--cta {
    margin-top: 48px;
    color: var(--primary-color);
    border-color: var(--primary-color);
    min-width: 193px;
}
