* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --primary-color: #ff5b2e;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

/* font size và font family có font mặc định nên cần kế thừa từ body */
input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}
